h1 {
    font-family: "Comic Sans";
    color: red;
}

p {
    font-family: goldman;
}

p {
    font-family: big shoulder;
    color: blue;
}

body {
    background-color: grey;
}

h {
    color:red;
}